@font-face {
    font-family: "Fenice";
    src: url("../fonts/InstrumentSerif-Regular.ttf");
}

.titre{
    text-align: center;
    font-family: "Fenice";
    font-size: var(--h2);
    color: var(--marron);
}
.texte>h2{
    text-align: center;
    font-family: "Fenice";
    font-size: var(--h2);
    color: var(--marron);
}
.header {
    background-color: var(--vert);
    color: var(--beige);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Fenice";
    font-size: var(--h1);
}

body{
    background-color: var(--beige);
}

.menu {
    float: right;
    margin-top: -70px;
    margin-right: 25px;
}

.main {
    padding-top: 100px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--texte);
    color: var(--marron);
}
.texte>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--texte);
    color: var(--marron);
    font-style: bold

}

.film {
    background-color: var(--beige);
    padding: 20px;
}

.histoire {
    padding: 20px;
}

.image {
    width: 100%;
    height: auto;
}

.footer{
    background-color: var(--marron);
}

.footer>p {
    color: var(--beige);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer>a {
    color: var(--beige);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
      /* change le box model */
  }
  img {
      max-width:100%;
      height: auto;
        /* image responsive, largeur maxi */
        /* hauteur "auto" */
  }
  .carrousel_parent-ecrans {
  
        /* aligne horizontalement les enfants */
      display: flex;
        /* largeur du parent */
      width: 100%;
      overflow-x: scroll; /* permet de scroller horizontalement */
      scroll-behavior: smooth; /* permet d'avoir un scroll fluide */
      scroll-snap-type: x mandatory;
      
  }
  .carrousel_ecran {
        /* largeur du parent pour chaque enfant */
          width: 100%;
        /* permet de garder toute la largeur du parent */
          flex: none;
          scroll-snap-align: start;
  
        
  }
  .carrousel_ecran figure {
        /* enlève les marges par défaut */
        margin: 0;
  }
  
  .carrousel {
      position: relative;
    }
    
  .carrousel_btn {
      position: absolute;
      top: 50%;
      top: calc(
        min(500px, 100vw) / 16 * 9 / 2 + 1rem
      ); /* centre verticalement ~50% vertical */
      transform: translateY(-50%); /* methode du point mort */
      width: 2rem;
      height: 2rem;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      border: none;
      display: grid;
      place-content: center;
      color: #fff;
    }
    
  .carrousel_btn-avant {
      left: 0;
    }
    
  .carrousel_btn-apres {
      right: 0;
    }
  
  /* en vrac :
  0 0 1rem display center flex gap 
  justify-content list-style margin none padding
  */
  .caroussel_liste-liens {
    display:flex ; /* aligne horizontalement les enfants */
    justify-content:center ; /* centre horizontalement les enfants */
    margin : 0 ; /* enlève les marges par défaut */
    padding: 0; /* enlève les padding par défaut */
    list-style: none; /* enlève les puces par défaut */
    gap: 1rem;/* espace entre les enfants */
  }

  .article {
    margin-bottom: 30px;
    align-content: center;
    border-bottom: 2px solid var(--marron);
  }
  
  .article__lien {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--texte);
    text-decoration: none;
    color: var(--marron);
  }
  
  .article__titre {
    margin-top: 20px;
    text-align: center;
  }
  
  .article__img {
    width: 50%;
    height: auto;
    text-align: center;
  }

  .espace{
    padding-top: 100px;
  }

  .menu2 {
    background-color: var(--vert);
    padding: 20px;
  }
  
  .menu-item {
    font-family: "Fenice";
    font-size: 50px;
    display: block;
    margin-bottom: 75px;
    text-decoration: none;
    color: var(--beige);
  }
  
  .menu-item:hover {
     text-decoration: underline; 
  }
  
  .bodymenu {
    background-color: var(--vert);
  }